@import 'tailwindcss';

:root {
  color-scheme: light dark;

  --light-bg: #f8f8ff;
  --light-text: #4a4a4a;
  --dark-bg: #373737;
  --dark-text: #f8f8ff;
  --mobile-img: url('../public/assets/mobileBg.webp');
  --tablet-img: url('../public/assets/tabletBg.webp');
  --bg-img: url('../public/assets/desktopBg.webp');
  --lg-img: url('../public/assets/largeBg.webp');
}

@theme {
  --playfair: var(--font-playfair-display);
  --poppins: var(--font-poppins);
  --raleway: var(--font-raleway);
  --codepro: var(--font-source-code-pro);
}

body {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light dark(var(--light-text), var(--dark-text));
}
